#
# Values for variables used in main.tf (root)
# 

#############################
# Stuff that doesn't change #
#############################

# UID
root_uid = "root_uid"

#
# AK Keys and Secrets
#
root_account_creds = {
    ak = "root_ak"
    secret = "root_secret"
}

shared_account_uid = "shared_uid"

######################
# Stuff that changes #
######################

# App account credentials (one for each application)
# LIMIT: 5 accounts (unless you make changes to
# app_baseline to use a larger CIDR block)

app0_uid = "app0_uid"

app1_uid = "app1_uid"

app2_uid = "app2_uid"

# App N
#appN_uid = "uid"
